{% extends 'base.html' %}
{% block content %}
   <div class="form-container">
       <div class="formHolder">
            <div class="dbformHeader">
                <p>CSV or EXCEL Upload to Compare</p>
            </div>
            <form method="post" enctype="multipart/form-data" action="">
                <div id="cont-src">
                  <span id="filename-src">Select Source file</span>
                  <label for="file-upload-src">Browse<input type="file" id="file-upload-src" required></label>
               </div>
               <div id="cont-target">
                  <span id="filename-target">Select Target file</span>
                  <label for="file-upload-target">Browse<input type="file" id="file-upload-target" required></label>
               </div> 
               <div>             
                  <button name="compare" type="submit" id="compare-btn">Proceed</button>    
               </div>    
            </form>
       </div>
   </div>
{% endblock %}

{% block js %}
   <script src="{{url_for('static', filename='Js/fileupload.js')}}"></script>
{% endblock %}
