{% extends 'base.html' %}
{% block content %}
   <div class="form-container">
    <div class="formHolder">
        <form action="">
            <div>
                <a href="/fileComparison" class="primary-cta csv">CSV / EXCEL</a>
            </div>
            <div>
                <a href="/database" class="primary-cta">DATABASE</a>
            </div>
        </form>
    </div>
   </div>
<!--   <div class="center-screen">-->
<!--    <a href="/fileComparison" class="primary-cta csv">CSV / EXCEL</a>-->
<!--    <a href="/database" class="primary-cta">DATABASE</a>-->
<!--   </div>-->
{% endblock %}
